<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>BEYAZ ESYA</title>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link type="image/x-icon" href="~/images/fav-icon.png" rel="icon">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/glass-case.css">
	<link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



	

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142494086-2"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-142494086-2');
	</script>
</head>
<body>
	<!-- Start preloader -->
	<div id="preloader"></div>
	<!-- End preloader -->
	<!-- Search Screen start -->
	<div class="sidebar-search-wrap">
		<div class="sidebar-table-container">
			<div class="sidebar-align-container">
				<div class="search-closer right-side"></div>
				<div class="search-container">
					<form method="get" id="search-form">
						<input type="text" id="s" class="search-input" name="s" placeholder="Aramaya Başla">
					</form>
					<span>Anahtar Kelimeyi Ara</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Search Screen end -->

	<div class="main">
		<!-- Header start -->
		<header id="header">
			<div class="container position-r">
				<div class="row m-0">
					<div class="col-lg-3 col-md-4 col-4 p-0">
						<div class="navbar-header">
							<a class="navbar-brand page-scroll" asp-controller="Home" asp-action="Index">
								<img alt="xpoge" src="~/images/logo.png">
							</a>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-8 p-0 position-initial">
						<div class="right-side">
							<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle d-block d-lg-none d-xl-none" type="button">
								<i class="fa fa-bars"></i>
							</button>
							<div class="overlay"></div>
							<div id="menu" class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li class="level">
										<a href="/" class="nav-link">Ana Sayfa</a>
									</li>
									<li class="level dropdown">
										<span class="opener plus"></span>
										<a asp-controller="Shop" asp-action="Index" class="nav-link">Kategoriler</a>
										<div class="megamenu full mobile-sub-menu">
											<div class="megamenu-inner-top">
												<div class="row sub-menu-level1">
													<div class="col-lg-3 level2 ">
														<a href="shop.html"><span>Beyaz Eşya</span></a>
														<ul class="sub-menu-level2">
															<li class="level3"><a href="~/Shop/Index/4"><span>■</span>Buzdolabı</a></li>
															<li class="level3"><a href="~/Shop/Index/3"><span>■</span>Derin Dondurucu</a></li>
															<li class="level3"><a href="~/Shop/Index/2"><span>■</span>Bulaşık Makinesi</a></li>
															<li class="level3"><a href="~/Shop/Index/1"><span>■</span>Çamaşır Makinesi</a></li>
														</ul>
													</div>
													<div class="col-lg-3 level2">
														<a href="shop.html"><span>Ankastre</span></a>
														<ul class="sub-menu-level2 ">
															<li class="level3"><a href="~/Shop/Index/7"><span>■</span>Ankastre Ocak</a></li>
															<li class="level3"><a href="~/Shop/Index/8"><span>■</span>Ankastre Mikrodalga</a></li>
														</ul>
													</div>
													<div class="col-lg-3 level2">
														<a href="shop.html"><span>Isıtma ve Soğutma</span></a>
														<ul class="sub-menu-level2 ">
															<li class="level3"><a href="~/Shop/Index/5"><span>■</span>Klima</a></li>
															<li class="level3"><a href="~/Shop/Index/6"><span>■</span>Kombi</a></li>
														</ul>
													</div>
													<div class="col-lg-3 level2">
														<a href="shop.html"><span>Küçük Ev Aletleri</span></a>
														<ul class="sub-menu-level2 ">
															<li class="level3"><a href="~/Shop/Index/9"><span>■</span>Süpürge</a></li>
															<li class="level3"><a href="~/Shop/Index/10"><span>■</span>Kahve Makinesi</a></li>
														</ul>
													</div>
												</div>
												@* <div class="row">
													<div class="col-lg-6 mt-30 d-none d-lg-block">
														<div class="sub-menu-img">
															<a href="shop.html">
																<img src="~/images/drop_banner1.jpg" alt="Xpoge">
															</a>
														</div>
													</div>
													<div class="col-lg-6 mt-30 d-none d-lg-block">
														<div class="sub-menu-img">
															<a href="shop.html">
																<img src="~/images/drop_banner2.jpg" alt="Xpoge">
															</a>
														</div>
													</div>
												</div> *@
											</div>
										</div>
									</li>
									<li class="level">
										<a href="/Shop/Index" class="nav-link">Tüm Ürünlerimiz</a>
									</li>
									<li class="level dropdown">
										<span class="opener plus"></span>
										<a href="blog-left-col.html">Kurumsal</a>
										<div class="megamenu mobile-sub-menu">
											<div class="megamenu-inner-top">
												<ul class="sub-menu-level1">
													<li class="level2 ">
														<ul class="sub-menu-level2">
															<li class="level3"><a href="contact.html"><span>■</span>Hakkımızda</a></li>
															<li class="level3"><a href="blog-detail.html"><span>■</span>Şubelerimiz</a></li>
															<li class="level3"><a href="blog-right-col.html"><span>■</span>Ekiplerimiz</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="level dropdown">
										<span class="opener plus"></span>
										<a href="#" class="nav-link">Destek</a>
										<div class="megamenu mobile-sub-menu">
											<div class="megamenu-inner-top">
												<ul class="sub-menu-level1">
													<li class="level2 ">
														<ul class="sub-menu-level2">
															<li class="level3"><a href="checkout.html"><span>■</span>İletişim</a></li>
															<li class="level3"><a href="wishlist.html"><span>■</span>KVKK</a></li>
															<li class="level3"><a href="wishlist.html"><span>■</span>FAQ's</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="header-right-link">
								<ul>
									<li class="search-box">
										<a href="#"><span></span></a>
									</li>
									<li class="account-icon">
										<a href="#"><span></span></a>
										<div class="header-link-dropdown account-link-dropdown">
											<ul class="link-dropdown-list" style="display: flex; justify-content: center;">
												<li>
													<button class="btn-color" style="margin: 2px; padding:18px;"><a asp-controller="Login" asp-action="SignIn">Giriş Yap</a></button>
												</li>
												<li>
													<button class="btn-color" style="margin: 2px; padding:18px;"><a asp-controller="Login" asp-action="SignUp">Kayıt Ol</a></button>
												<li>
											</ul>
										</div>
									</li>
									<li class="cart-icon">
										<a asp-controller="Checkout" asp-action="Index"> <span> <small class="cart-notification">2</small> </span> </a>
										@* <div class="cart-dropdown header-link-dropdown">
											<ul class="cart-list link-dropdown-list">
												<li>
													<a class="close-cart"><i class="fa fa-times-circle"></i></a>
													<figure>
														<a href="product-page.html" class="pull-left"> <img alt="Xpoge" src="images/1.jpg"></a>
														<figcaption>
															<span><a href="product-page.html">Men's Full Sleeves Collar Shirt</a></span>
															<p class="cart-price">$14.99</p>
															<div class="product-qty">
																<label>Qty:</label>
																<div class="custom-qty">
																	<input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty">
																</div>
															</div>
														</figcaption>
													</figure>
												</li>
												<li>
													<a class="close-cart"><i class="fa fa-times-circle"></i></a>
													<figure>
														<a href="product-page.html" class="pull-left"> <img alt="Xpoge" src="images/2.jpg"></a>
														<figcaption>
															<span><a href="product-page.html">Women's Cape Jacket</a></span>
															<p class="cart-price">$14.99</p>
															<div class="product-qty">
																<label>Qty:</label>
																<div class="custom-qty">
																	<input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty">
																</div>
															</div>
														</figcaption>
													</figure>
												</li>
											</ul>
											<p class="cart-sub-totle"> <span class="pull-left">Cart Subtotal</span> <span class="pull-right"><strong class="price-box">$29.98</strong></span> </p>
											<div class="clearfix"></div>
											<div class="mt-20"> <a href="cart.html" class="btn-color btn">Cart</a> <a href="checkout.html" class="btn-color btn right-side">Checkout</a> </div>
										</div> *@
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header end -->
		
		@RenderBody()


		<!-- Newslatter section start -->
		<section class="newsletter-section align-center ptb-100">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-9 col-12">
						<div class="newsletter-title">
							<h2 class="main_title">Bültene Abone Olun! </h2>
							<p>Son kampanyalardan haberdar olmak için bizi takip edin. </p>
						</div>
						<div class="newsletter-input">
							<form>
								<div class="form-group m-0">
									<input type="email" placeholder="E-mail adresiniz" required="">
								</div>
								<button type="submit" class="btn btn-color"><span class="d-none d-sm-block">Abone Ol</span> <i class="fa fa-send d-block d-sm-none"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Newslatter section end -->
		<!-- Footer section start -->
		<footer class="footer-part">
			<div class="container">
				<div class="footer-top ptb-100">
					<div class="mb_-30">
						<div class="row">
							<div class="col-12 col-lg-3 col-md-6">
								<div class="footer-about mb-sm-30">
									<div class="footer-logo">
										<a href="index.html">
											<img src="images/logo.png" alt="logo">
										</a>
									</div>
									<p class="footer-p">Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh mauris sit amet nibh. Donec sodales sagittis</p>
								</div>
							</div>
							<div class="col-12 col-lg-3 col-md-6">
								<div class="footer-static-block">
									<span class="opener plus"></span>
									<h3 class="head-three">Bilg</h3>
									<ul class="footer-menu footer-block-contant">
										<li><a href="contact.html">Bize Ulaşın</a></li>
										<li><a href="javascript:void(0)">Markalar</a></li>
										<li><a href="blog-left-col.html">Blog</a></li>
										<li><a href="javascript:void(0)">Hakkımızda</a></li>
										<li><a href="javascript:void(0)">FAQ's</a></li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-3 col-md-6">
								<div class="footer-static-block">
									<span class="opener plus"></span>
									<h3 class="head-three">Hesabım</h3>
									<ul class="footer-menu footer-block-contant">
										<li><a href="javascript:void(0)">Sipariş Geçmişi</a></li>
										<li><a href="wishlist.html">İstek Listesi</a></li>
										<li><a href="javascript:void(0)">Kuponlar</a></li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-3 col-md-6">
								<div class="footer-static-block">
									<span class="opener plus"></span>
									<h3 class="head-three">Bize Ulaşın</h3>
									<div class="contact-box footer-block-contant">
										<ul>
											<li>
												<div class="contact-thumb">
													<img src="images/address-icon.svg" alt="xpoge">
												</div>
												<div class="contact-box-detail">
													<p>Adana Çukurova</p>
												</div>
											</li>
											<li>
												<div class="contact-thumb">
													<img src="images/phone-icon.svg" alt="xpoge">
												</div>
												<div class="contact-box-detail">
													<p>+91 123 456 789 0</p>
												</div>
											</li>
											<li>
												<div class="contact-thumb">
													<img src="images/mail-icon.svg" alt="xpoge">
												</div>
												<div class="contact-box-detail">
													<p>info@magaza.com</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom align-center">
					<div class="row">
						<div class="col-12">
							<div class="w-100">
								
							</div>
						</div>
						<div class="col-12">
							<div class="social-media">
								<ul>
									<li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer section end -->
	</div>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/custom.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/jquery-3.4.1.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/modernizr.js"></script>
	</script>
</body>

</html>